<header id="header">
    <!-- Versione desktop dell'header -->
    <div class="menu">
        <a href="/" class="artist-name">Tanarouge</a>
        <a href="/" class="home-link">Home</a>
        <a href="/music">Music</a>
        <a href="/live">Live</a>
        <!-- <a href="https://your-shopify-store.com" target="_blank" class="button">Store</a> -->
        <a href="/info">Info</a>
    </div>
    <div class="social">
        <a href="https://instagram.com/tanarouge" target="_blank"><img src="assets/icons/instagram.svg" alt="Instagram"></a>
        <a href="https://tiktok.com/@tanarougemusic" target="_blank"><img src="assets/icons/tiktok.svg" alt="TikTok"></a>
        <a href="https://x.com/tanarouge" target="_blank"><img src="assets/icons/x.svg" alt="X"></a>
        <a href="https://open.spotify.com/artist/565GKMj0rrNhGBPyNR4RUT?si=oRssEFu2TBSyfpvYfVBTtQ&dl_branch=1" target="_blank"><img src="assets/icons/spotify.svg" alt="Spotify"></a>
        <a href="https://music.apple.com/it/artist/tanarouge/1492120861" target="_blank"><img src="assets/icons/apple-music.svg" alt="Apple Music"></a>
    </div>
    <!-- Versione mobile dell'header -->
    <div class="mobile-header">
        <a href="home" class="artist-name">Tanarouge</a>
        <div class="mobile-menu-icon">
            <img src="assets/icons/plus.svg" alt="Menu Open" class="menu-icon open-icon">
            <img src="assets/icons/cross.svg" alt="Menu Close" class="menu-icon close-icon">
        </div>
    </div>
    <div class="mobile-menu">
        <a href="/" class="home-link">Home</a>
        <a href="/music">Music</a>
        <a href="/live">Live</a>
        <!-- <a href="https://your-shopify-store.com" target="_blank" class="button">Store</a> -->
        <a href="/info">Info</a>
        <div class="social">
            <a href="https://instagram.com" target="_blank"><img src="assets/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://tiktok.com/@tanarougemusic" target="_blank"><img src="assets/icons/tiktok.svg" alt="TikTok"></a>
            <a href="https://x.com" target="_blank"><img src="assets/icons/x.svg" alt="X"></a>
            <a href="https://spotify.com" target="_blank"><img src="assets/icons/spotify.svg" alt="Spotify"></a>
            <a href="https://music.apple.com/it/artist/tanarouge/1492120861" target="_blank"><img src="assets/icons/apple-music.svg" alt="Apple Music"></a>
        </div>
    </div>
</header>
